BOT_TOKEN=8789491270:AAHJf7fA2GCtJEHysnnLUI0xadpU5rtaR-c
ADMIN_ID=880101741
CHANNEL_ID=@marigolds_mozyr_bot
CHANNEL_LINK=https://t.me/@marigolds_mozyr_bot
DATABASE_URL=postgresql://user:password@host:port/database  # Render предоставит этот URL
PORT=10000  # Render сам подставит порт
